[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
meraki = "*"
pyqrcode = "*"
jinja2 = "*"
pypng = "*"
xkcdpass = "*"

[dev-packages]
pylint = "*"
pytest = "*"
third-party-license-file-generator = "*"
install = "*"
build = "*"
twine = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.8"
