<html>
    <head>
        <style>.img-container{text-align: center;}</style>
    </head>
    <body>
    <div class="img-container">
        <img src="cid:{{ logotestpng }}" alt="{{ logotestpng }}">
    </div>
    <br>
    This is an automated message to inform you that the new passphrase for SSID: <b>{{ ssid }}</b> is:
    <br>
    <br>
    <H1>{{ psk }}</H1>
    <div class="img-container">
        <img src="cid:{{ qrcodepng }}" alt={{ qrcodepng }}">
    </div>
    <br>
    </body>
</html>