<html>
    <head>
        <style>.img-container{text-align: center;}</style>
    </head>
    <body>
    <div class="img-container">
        <img src="cid:{{{{ logo }}}}" alt="{{ logo }}">
    </div>
    <br>
    This is an automated message to inform you that the new passphrase for SSID: <b>{{ ssid }}</b> is:
    <br>
    <br>
    <H1>{{ psk }}'</H1>
    <div class="img-container">
        <img src="cid:{{ qrcode }}" alt={{ qrcode }}">
    </div>
    <br>
    </body>
</html>